.about-image{
  height: 100%;
  width: 300px;
  background-image: url(../images/hi-five.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-image2{
  height: 100%;
  width: 300px;
  background-image: url(../images/construction-worker.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
