.products-image{
  height: 100%;
  width: 300px;
  background-image: url(../images/food-processor.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.products-image2{
  height: 100%;
  width: 300px;
  background-image: url(../images/point.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}